<?php
$config['protocol'] = 'smtp';
$config['smtp_host'] = 'ssl://smtp.googlemail.com';
$config['smtp_port'] = 465;
$config['smtp_user'] = 'starmonkey@gmail.com';
$config['smtp_pass'] = 'xxxxx';
$config['newline'] = "\r\n";
?>