body, td, th, input, textarea {
	font-family: Lucida Grande, Lucida Sans Unicode, Segoe UI, Tahoma, Verdana, sans-serif;
	font-size: 12px;
}
div#pageframe {
   width: 650px;
}
.yui-button button,
.yui-button a {
   outline: none;
}

span.blank {
  color: #ccc;
}

table.data td,
table.data th {
  padding: .5em;
  text-align: left;
}

table.data tr.odd {
  background-color: #ddd;
}

table.data tr.even {
  background-color: #eee;
}

#flashdata {
  float: left;
  position: absolute;
  right: 20px;
  top: 20px;
  border: 2px solid #999;
  background-color: #ffc;
  padding: 10px;
  font-weight: bold;
  font-size: 125%
}
