body, td, th, input, textarea {
	font-family: Lucida Grande, Lucida Sans Unicode, Segoe UI, Tahoma, Verdana, sans-serif;
	font-size: 12px;
}
body {
  margin-top: 50px;
  background-color: white;
  color: #333;
}
div#pageframe {
  width: 650px;
}
.yui-button button,
.yui-button a {
   outline: none;
}

span.blank {
  color: #ccc;
}

table.data td,
table.data th {
  padding: .5em;
  text-align: left;
}

table.data tr.odd {
  background-color: #ddd;
}

table.data tr.even {
  background-color: #eee;
}

#flashdata {
  float: left;
  position: absolute;
  right: 20px;
  top: 20px;
  border: 2px solid #999;
  background-color: #ffc;
  padding: 10px;
  font-weight: bold;
  font-size: 125%
}

#toolbar div {
}
#toolbar a {
  color: #333;
  text-decoration: none;
  text-shadow: #eee 0 1px 1px;
  font-weight: bold;
}
#toolbar a:hover {
  text-decoration: underline;
}
#toolbar .left {
  float: left;
  padding: 6px;
  padding-left: 12px;
}
#toolbar .left a {
  margin-right: 12px;
}
#toolbar .right {
  float: right;
  padding: 6px;
}
#toolbar .right a {
  margin-left: 12px;
}
#toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  background-repeat: repeat-x;
  background-position: top;
}