body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Helvetica, sans-serif;
  font-size: 9pt; }

body.narrow #pageframe {
  width: 700px;
  margin-left: auto;
  margin-right: auto; }

h2 {
  margin-top: 0; }

h4 {
  font-style: italic;
  font-weight: normal; }

.field {
  margin-bottom: 1.4em; }

.field.indent {
  margin-left: 3em; }

.section {
  border: 1px solid #CCC;
  padding: 1em; }

.section + .section {
  margin-top: 2em; }

label {
  font-weight: normal; }

label.option {
  font-weight: bold; }

span.requiredcue {
  margin-left: 1px; }

.detail {
  color: #777;
  width: 300px; }

.explain {
  margin-left: 2em; }

.reference .field {
  margin-left: 2em;
  margin-bottom: 0.7em; }

form#application input[type='text'] {
  width: 250px; }

form#application input[type='text'].datepicker {
  width: 150px; }

form#application textarea,
form#application input {
  family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Helvetica, sans-serif;
  font-size: 10pt; }

form#application textarea.small {
  width: 250px; }

form#application textarea.medium {
  width: 400px; }

form#application textarea.large {
  width: 650px; }

.nav {
  font-weight: bold;
  background-color: #cca;
  border: 1px solid #333;
  text-shadow: #000 0 1px 1px;
  color: white;
  text-align: center;
  padding: 6px;
  margin-top: 1.4em;
  margin-bottom: 1.2em; }
  .nav a {
    text-decoration: none;
    color: black; }
  .nav a.active {
    color: red; }

#identity {
  color: #667;
  text-align: right; }

.error div {
  float: left;
  font-weight: bold;
  color: maroon;
  border: red dotted 1px;
  background-color: #ffc;
  padding: 0.6em;
  margin-bottom: 1em; }

span.error_required {
  display: none;
  padding: 2px 10px 2px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em; }

label.error_required, strong.error_required {
  background-color: #c00;
  color: white;
  margin: -2px;
  padding: 2px; }
  label.error_required span.error_required, strong.error_required span.error_required {
    display: inline; }
