body, td, th, input {
	font-family: Lucida Grande, Lucida Sans Unicode, Segoe UI, Tahoma, Verdana, sans-serif;
	font-size: 12px;
}
div#pageframe {
   width: 650px;
}
.yui-button button,
.yui-button a {
   outline: none;
}