.section
  %h2 Comments/Concerns
  = textarea_lg(:comments, 'Please note any additional comments or concerns you have.')

.section
  %h2 Application Commitment
  .commitment
    %p I hereby commit myself to serving with FHBCCT (should my application be accepted) in whichever area I am designated by Management. I understand that I am a volunteer and that I will not be receiving any financial reimbursement for the work that I do while at FHBCCT. I commit myself to abide by the policies and procedures of the FHBCCT and to the mission, aims and objectives of the organization.
    = text(:signature, 'Signature (type your full name)', :required => true)
    = text(:signaturedate, 'Today\'s Date', :required => true)